<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ashstudios.safana">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CreateAllowanceActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.WorkerProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewProjectSelectWorkerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activities.NewProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activities.AddEmployeesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SupervisorDashboard"
            android:label="@string/title_activity_supervisor_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>